<nav class="content-menu">
    <ul class="menu">
        <li class="menu-item"> <a class="menu-link" href="/">home</a> </li>
        <li class="menu-item"> <a class="menu-link" href="/product">add</a> </li>
        <li class="menu-item"> <a class="menu-link" href="#">blog</a> </li>
    </ul>
</nav>